{% extends "layout.html" %}
{% block title %}Gallery{% endblock %}
{% block content %}
<h2>Image Gallery</h2>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% else %}
    {% for image in images %}
      <div style="margin-bottom: 30px;">
        <a href="https://{{ bucket }}.s3.amazonaws.com/{{ image.s3_key }}" target="_blank">
          <img src="https://{{ bucket }}.s3.amazonaws.com/thumbnails/{{ image.filename }}" width="150" />
        </a>
        <p><strong>Caption:</strong> {{ image.caption or 'None' }}</p>
      </div>
    {% endfor %}
{% endif %}

<br>
<a href="/">Upload Another</a>

{% endblock %}
